@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: hsl(229, 57%, 11%);
    background-position: 0 380px;
    background-image: url(/src/images/bg-desktop.png);
    background-repeat: no-repeat
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.part-1 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 330px;
    height: 200px;
    margin: 20px;
    padding-left: 40px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 5px 100px 5px 5px;
    gap: 30px;
}

.fylo img {
    width: 120px;
}

.files {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.document,
.folder,
.upload {
    margin-right: 15px;
    background-color: hsl(229, 57%, 11%);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.part-2 {
    background-color: hsl(228, 56%, 26%);
    width: 540px;
    height: 150px;
    border-radius: 5px;
    margin-top: 50px;
    padding-left: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.already-used {
    color: #ffffff;
    font-weight: 100;
}

span.giga {
    color: var(--cor-numeros-header);
    font-weight: 700;
}

.bar {
    background-color: hsl(229, 57%, 11%);
    width: 480px;
    height: 18px;
    border-radius: 20px;
    overflow: hidden;
}

.colored {
    display: flex;
    align-items: center;
    justify-content: end;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    width: 75%;
    height: 17px;
    border-radius: 20px;
}

.bolinha {
    width: 11px;
    height: 11px;
    margin-right: 2px;
    background-color: #ffffff;
    border-radius: 50%;
}

.gigabytes {
    display: flex;
    justify-content: space-between;
    color: var(--cor-numeros-header);
    font-weight: 600;
    font-size: 14px;
}

.start {
    margin-right: 200px;
}

.end {
    margin-left: 190px;
}



span.final {
    position: relative;
    left: 50px;
    bottom: 65px;
    background-color: #ffffff;
    padding: 27px 30px;
    border-radius: 10px 10px 0 10px;
    color: hsl(229, 7%, 55%);
    font-weight: 700;
    font-size: 12px;
}

span.final:before {
    content: '';
    position: absolute;
    top: 68px;
    bottom: 0;
    right: 0;
    border-width: 20px 0 20px 20px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}

.number {
    color: hsl(229, 57%, 11%);
    font-weight: 700;
    font-size: 35px;
}
